/* Counter.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #6287ab;
  display: flex;
  justify-content: center;
}

p {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

.btn-in {
  background-color: #4caf50;
  color: white;
}

.btn-dec {
  background-color: #f44336;
  color: white;
}

.btn-res {
  background-color: #2196f3;
  color: white;
}
